@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}

h1 {
    text-align: center;
    padding: 10px;
}

menu {
    display: none;
}

header > span {
    width: 100vw;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

header > span:hover{
    background-color: white;
    color: black;
}

menu > ul {
    list-style-type: none;
    text-align: center;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-top: 2px solid rgb(179, 179, 179);
}

li:hover {
    background-color: darkgray;
}

body {
    background-color: darkgray;
    width: 100vw;
}

main {
    width: 90vw;
    background-color: white;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

main h2 {
    padding-bottom: 20px;
}

main p {
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

