@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('/fontes/android.otf') format('opentype');
    font-weight: normal;
}

:root {

    --cor0: #f7f3cf;
    --cor1: #c2e4cb;
    --cor2: #36cecc;
    --cor3: #27b1bf;
    --cor4: #176585; 
    --cor5: #12495f;

    --fontpadrao: arial, helvetica, sans-serif;
    --fontedestaque: 'bebas neue', cursive;
    --fonteandroid: 'android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    text-align: justify;
    text-indent: 10px;
    font-family: var(--fontpadrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    text-align: center;
    color: white;
    height: 120px;
    padding: 10px;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.801);
}

header h1 {
    font-family: var(--fontedestaque);
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    width: 400px;
    margin: auto; 
}

nav {
    background-color: var(--cor3);
    color: var(--cor0);
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.397);
}

nav > a {
    text-decoration: none;
    padding: 10px;
    color: white;
    
}

nav > a:hover {
    text-decoration: underline;
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 8px;
    transition-duration: 0.3s;
}

nav > a:active {
    color: red;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    min-width: 400px;
    max-width: 800px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
}

main h1 {
    font-family: var(--fonteandroid);
    color: var(--cor4);
    padding: 10px;
    font-size: 2em;
}

main h2 {
    color: var(--cor3);
    padding: 10px;
    font-size: 1.5em;
    font-family: var(--fonteandroid);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    margin: 20px 0px 20px 0px;
}

main p {
    margin: 10px;
    padding: 10px;
    line-height: 1.3em;
}

main img {
    width: 100%;
}

main .pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor2);
}

main strong a {
    text-decoration: none;
    color: var(--cor2);
    background-color: var(--cor1);
    padding: 1px;
}

main strong a:hover{
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor4);


}
main a::after {
    content: '\00a0\1f517';
}

div.video {
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    margin: -10px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px ;
}

ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer {
    background-color: var(--cor5);
    text-align: center;
    padding: 5px;
    color: var(--cor0);
}

footer a {
    text-decoration: none;
    color: var(--cor0);
}

footer a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
}