@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 90vh;
    width: 100vw;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    position: relative;
    height: 100vh;     
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
    transform: translate(-50%, -50%);
}

#menu  img:hover{
    border: 2px solid yellow;
    transform: translate( -5px );
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    transition: transform .3s, border .3s;

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;

}

section#menu img {
    width: 60px;
    border-radius: 100px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.450);
    box-sizing: border-box;
}

section#menu {
    width: 50px;
    text-align: right;
    margin-left: 95%;
}